h1 {
  color: #228B22;
  font-family: system-ui;
  text-align: center;
}

.article__subtitle {
  font-family: sans-serif;
}

body {
  background-color: #F6F5F8;
}

.article__description {
  text-align: justify;
  font-size: 20px;
  font-family: cursive;
  color: #48444B;
}

.footer__description {
  font-size: 10px;
  color: #48444B;
}